.idea/
.local
.svn
.vsc
.vscode
**.pyc
*.log
logs
odoo-server.conf
.DS_Store
venv
backup
html
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*~
# Distribution / packaging
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg